@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@{
    ViewData["Title"] = "Edit Owner Page";
}
@model UserDTO
<h1>WELCOME ADMIN @LoginState.activeUser?.Name </h1>
<br>

<div class="container mt-4">
    <h1 class="text-center mb-4">Edit Owner</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <form asp-controller="Admin" asp-action="UpdateOwnerCallback" method="post">
                <input type="hidden" asp-for="Id" />

                <!-- Email Field -->
                <div class="mb-3">
                    <label for="email" class="form-label"><strong>Email:</strong></label>
                    <input type="email" class="form-control" id="email-view" value="@Model.Email" disabled />
                    <input type="hidden" id="email" asp-for="Email" />
                </div>

                <!-- VAT Field -->
                <div class="mb-3">
                    <label for="vat" class="form-label"><strong>VAT:</strong></label>
                    <input type="text" class="form-control" id="vat-view" value="@Model.VAT" disabled />
                    <input type="hidden" id="vat" asp-for="VAT" />
                </div>

                <!-- Name Field -->
                <div class="mb-3">
                    <label for="name" class="form-label"><strong>Name:</strong></label>
                    <input type="text" class="form-control" id="name" asp-for="Name" required />
                </div>

                <!-- Surname Field -->
                <div class="mb-3">
                    <label for="surname" class="form-label"><strong>Surname:</strong></label>
                    <input type="text" class="form-control" id="surname" asp-for="Surname" required />
                </div>

                <!-- Address Field -->
                <div class="mb-3">
                    <label for="address" class="form-label"><strong>Address:</strong></label>
                    <input type="text" class="form-control" id="address" asp-for="Address" required />
                </div>

                <!-- Phone Field -->
                <div class="mb-3">
                    <label for="phone" class="form-label"><strong>Phone:</strong></label>
                    <input type="number" class="form-control" id="phone" asp-for="Phone" required pattern="[0-9]*" inputmode="numeric" />
                </div>

                <!-- Update Button -->
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success px-4">Update</button>
                    <a class="btn btn-secondary px-4" asp-area="" asp-controller="Admin" asp-action="OwnersAndProperties">Back to Owners and Properties</a>
                </div>
            </form>
        </div>
    </div>
</div>