@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@{
    ViewData["Title"] = "Search Owner Page";
}
<h1>WELCOME ADMIN @LoginState.activeUser?.Name </h1>
<br>

<h2 class="text-center my-4">Search Owner</h2>
<div class="container d-flex justify-content-center">
    <form asp-controller="Admin" asp-action="SearchOwnerResultsCallback" method="post" class="w-50 p-4 border rounded shadow">
        <div class="form-group mb-3">
            <label for="searchInput" class="form-label">Search</label>
            <input type="text" id="searchInput" name="searchInput" class="form-control" placeholder="Enter VAT or Email" required>
        </div>
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary px-4">Search</button>
            <a class="btn btn-secondary px-4" asp-area="" asp-controller="Admin" asp-action="OwnersAndProperties">Back to Owners and Properties</a>
        </div>
    </form>
</div>