@using TechnicoBackEnd.Models;
@using TechnicoBackEnd.Responses;
@using TechnicoBackEnd.DTOs;
@model ResponseApi<UserDTO>;

@{
    ViewData["Title"] = "Home Page";
}
@if (Model.Value != null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @Model.Value?.Name</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Invalid ID</h1>
    </div>
}