@{
    ViewData["Title"] = "Login ";
}

<h2>Login </h2>

<div class="login-form">
    <h2>Login</h2>
    <form asp-controller="Home" asp-action="Login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
    <!-- Error message display, if needed -->
    <div class="error-message">
        <!-- Example: Invalid login credentials -->
    </div>
</div>