@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@using TechnicoBackEnd.Responses;
@{
    ViewData["Title"] = "User Update Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexible Image Buttons with Bootstrap</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Optional: Add custom hover effect if you want */
        .image-button:hover img {
            transform: scale(1.1);
            opacity: 0.8;
        }

        .image-button img {
            transition: transform 0.3s ease, opacity 0.3s ease;
            width: 100%; /* Make sure images scale to fit their container */
            height: auto; /* Maintain aspect ratio */
        }
    </style>
</head>

@{
    var currentUser = LoginState.activeUser;
}

<div class="col">
    <div><h1><b>Update Personal Details</b></h1></div>
</div>


<form>
<div class="card" style="width: 18rem; height:fit-content">
    <img class="card-img-top" src="~/images/user.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">User Details</h5>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Email: </label>
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=@currentUser?.Email disabled>
        <label for="exampleFormControlInput1">VAT: </label>
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=@currentUser?.VAT disabled>
        <label for="exampleFormControlInput1">Name: </label>
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=@currentUser?.Name>
        <label for="exampleFormControlInput1">Surname: </label>
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=@currentUser?.Surname>
        <label for="exampleFormControlInput1">Phone: </label>
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=@currentUser?.Phone>
        <label for="exampleFormControlInput1">Address: </label>
        <input type="email" class="form-control form-control-sm" id="exampleFormControlInput1" placeholder=@currentUser?.Address>
    </div>
    <div class="card-body">
        <a class="card-link" asp-area="" asp-controller="User" asp-action="UserUpdate">Save Changes</a>
        <a class="card-link" asp-area="" asp-controller="User" asp-action="UserUpdate">Delete Account</a>
    </div>
</div>
</form>


