@using TechnicoBackEnd.Auth
@using TechnicoBackEnd.DTOs;
@{
    ViewData["Title"] = "Admin Home Page";
}

<h1>WELCOME ADMIN @LoginState.activeUser?.Name </h1>
<br>
<div class="container">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">[Logout]</a>
</div>


